/* ==========================================================================
   Body
   ========================================================================== */
body {
	color: #666;
	background: #FFF;
}
